.toursBanner{
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../images/tour/tours-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    height: 200px;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;

    @media only screen and (max-width: 720px){
        margin-top: 0;
    }

    h1{
        color: white;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        font-family: $proxiNova;
        font-weight: 400;
        letter-spacing: 5px;
        font-size: 60px;
        
        margin: 0 auto;

    }
}

.tourContainer{

    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    
    overflow: hidden;
    text-align: center;
    max-width: 818px;
    margin: 0 auto;
    margin-bottom: 100px;
    
    @media only screen and (max-width: 720px){
        margin-bottom: 0;
    }
    

  

    .tourRow{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 55px;

        @media only screen and (max-width: 720px){
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            margin-top: 0;
        }
        

    h1{
        font-size: 60px;
        color: white;
        // text-align: center;
        text-transform: uppercase;
        font-family: "proxima-nova-extra-condensed", sans-serif;
        font-weight: 400;
        font-style: italic; 
        margin-top: 40px;
        white-space: nowrap;
    }

    h2{
        font-size: 30px;
        color: white;
        // margin-top: -24px;
        margin-bottom: 58px;
        font-weight: 100;
        font-family: "proxima-nova-extra-condensed", sans-serif;
        font-style: italic; 
    }

    a{
        color: white;
        background-color: #79ADDC;
        text-align: center;
        padding: 15px 40px;
        border-radius: 38px;
        text-decoration: none;
        // display: block;
        align-items: center;
        justify-content: space-evenly;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
    }

    .isrealPackage{
        background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../images/tour/tour-01.jpg);
        width: 236px;
        height: 306px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
       
        @media only screen and (max-width: 720px){
            // margin-bottom: 20px;
            width: 100%;
        }
        
    }
    .usaPackage{
        background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../images/tour/tour-02.jpg);
        width: 236px;
        height: 306px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
       
        @media only screen and (max-width: 720px){
            // margin-bottom: 20px;
            width: 100%;
        }
        
    }
    .australiaPackage{
        background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../images/tour/tour-03.jpg);
        width: 236px;
        height: 306px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
       
        @media only screen and (max-width: 720px){
            // margin-bottom: 20px;
            width: 100%;
        }
        
    }
    .newZealandPackage{
        background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../images/tour/tour-04.jpg);
        width: 236px;
        height: 306px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
       
        @media only screen and (max-width: 720px){
            // margin-bottom: 20px;
            width: 100%;
        }
        
    }
    .francePackage{
        background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../images/tour/tour-05.jpg);
        width: 236px;
        height: 306px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
       
        @media only screen and (max-width: 720px){
            // margin-bottom: 20px;
            width: 100%;
        }
        
    }
    .egyptPackage{
        background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../images/tour/tour-06.jpg);
        width: 236px;
        height: 306px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
       
        @media only screen and (max-width: 720px){
            // margin-bottom: 20px;
            width: 100%;
        }
        
    }
    .japanPackage{
        background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../images/tour/tour-07.jpg);
        width: 236px;
        height: 306px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
       
        @media only screen and (max-width: 720px){
            // margin-bottom: 20px;
            width: 100%;
        }
        
    }
    .canadaPackage{
        background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../images/tour/tour-08.jpg);
        width: 236px;
        height: 306px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
       
        @media only screen and (max-width: 720px){
            // margin-bottom: 20px;
            width: 100%;
        }
        
    }
    .uaePackage{
        background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../images/tour/tour-09.jpg);
        width: 236px;
        height: 306px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
       
        @media only screen and (max-width: 720px){
            // margin-bottom: 20px;
            width: 100%;
        }
        
    }
    
}
}