.aboutWrapper{
    max-width: 980px;
    margin: 0 auto;
    margin-top: 100px;

    @media only screen and (max-width: 1050px){
        padding: 0px 20px;
    }

    @media only screen and (max-width: 600px){
        margin: 150px 0 200px 0;
    }

    h1{

        font-family: $proxiNova;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 8px;

    }

    p{
        max-width: 980px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
        font-weight: 100;
    }
}

.clientQuotes{
    max-width: 980px;
    margin: 0 auto;
    margin-top: 107px;
    margin-bottom: 179px;
    // margin-left: 10px;
    
    @media only screen and (max-width: 1050px){
        padding: 0px 20px;
        margin-bottom: 100px
    }


    h2{
        font-family: $proxiNova;
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 8px;
        text-transform: uppercase;

        @media only screen and (max-width: 600px){
            margin-bottom: 40px;
        }
    }

    .clients{
        display: flex;
        margin-top: 36px;

        @media only screen and (max-width: 600px){
            width: 90%;
            // flex-wrap: wrap;
            flex-direction: column;
            margin: 0 auto;
            margin-top: 55px;
        }
        
        img{
            margin: 0;
            max-width: 260px;
            height: 100%;

            @media only screen and (max-width: 600px){
                max-width: 85%;
                margin: 0 auto;
            }
        }

        p{
            max-width: 385px;
            // height: 102px;
            text-align: left;
            padding: 0px 21px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style: italic;
            font-size: 16px;

            @media only screen and (max-width: 600px){
                margin: 0 auto;
                margin-top: 35px;
                max-width: 95%;
            }
        }

        h3{
            font-family: $proxiNova;
            font-size: 20px;
            font-weight: normal;
            color: #79addc;
            letter-spacing: 2px;
            float: right;
            margin-top: 27px;
        }
    }
}